{% extends "base.html" %} 
{% block title %}Área y perímetro de un rectángulo{% endblock %} 

{% block content %}
<h1 align="center">Área y perímetro de un rectángulo</h1>
<form method="POST" align="center">
    <div class="form-group">
        <label for="ladoa" >Lado a: </label>
        <input type="number" class="ladoa" id="ladoa" name="ladoa" placeholder="Ingrese la longitud" step="0.01" min="0" max="1000000000"/>
    </div>
    <div class="form-group">
        <label for="ladob" >Lado b: </label>
        <input type="number" class="ladob" id="ladob" name="ladob" placeholder="Ingrese la longitud" step="0.01" min="0" max="1000000000"/>
    </div>
    <br />
    <button id="button1" type="submit" class="btn btn-primary" >Calcular</button>
</form>
<div>
    <h1 align="center">{{titulo}}</h1>
    <p align="center">{{texti}}</p>
    <p align="center">{{texti1}}</p>
    <p align="center">{{texti2}}</p>
    <h3 align="center">{{resultado}}</h3>
    <p id="r1" align="center">{{result}}</p>
    <p id="r2" align="center">{{result2}}</p>
</div>
{% endblock %}