{% extends "base.html" %} 
{% block title %}Área y perimetro de un triángulo{% endblock %} 

{% block content %}
<h1 align="center">Área y perimetro de un triángulo</h1>
<form method="POST" align="center">
    <div class="form-group">
        <label for="lado1" >Lado 1: </label>
        <input type="number" class="lado1" id="lado1" name="lado1" placeholder="Ingrese la longitud" step="0.01" min="0"/>
    </div>
    <div class="form-group">
        <label for="lado2" >Lado 2: </label>
        <input type="number" class="lado2" id="lado2" name="lado2" placeholder="Ingrese la longitud" step="0.01" min="0"/>
    </div>
    <div class="form-group">
        <label for="lado3" >Lado 3: </label>
        <input type="number" class="lado3" id="lado3" name="lado3" placeholder="Ingrese la longitud" step="0.01" min="0"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" >Calcular</button>
</form>
<div>
    <h1 align="center">{{titulo}}</h1>
    <p align="center">{{texti}}</p>
    <p align="center">{{texti1}}</p>
    <p align="center">{{texti2}}</p>
    <p align="center">{{texti3}}</p>
    <h3 align="center">{{resultado}}</h3>
    <p align="center">{{result}}</p>
    <p align="center">{{result2}}</p>
</div>
{% endblock %}