{% extends "base.html" %} 
{% block title %}Factorial{% endblock %} 

{% block content %}
<h1 align="center">Factorial</h1>
<form method="POST" align="center">
    <div class="form-group">
        <label for="number" >Número n!: </label>
        <input type="number" class="number" id="number" name="number" placeholder="Ingrese un número" min="0"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" >Calcular</button>
</form>
<div>
    <h1 align="center">{{titulo}}</h1>
    <p align="center">{{numeroin}}</p>
    <h3 align="center">{{resultado}}</h3>
    <p align="center">{{result}}</p>
</div>
{% endblock %}