{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block content %}
<h1 align="center">Inicio</h1>
<div align="center">
    <h3>Menú</h3>
    <form action="/Fibonacci">
        <input id="b1" type="submit" value="Fibonacci" class="btn btn-primary" >
    </form>
    <h4></h4>
    <form action="/Factorial">
        <input id="b2" type="submit" value="Factorial" class="btn btn-primary" >
    </form>
    <h4></h4>
    <form action="/APtriangulo">
        <input id="b3" type="submit" value="Área y Perímetro de un triángulo" class="btn btn-primary">
    </form>
    <h4></h4>
    <form action="/APrectangulo">
        <input id="b4" type="submit" value="Área y Perímetro de un rectángulo" class="btn btn-primary">
    </form>
    <h4></h4>
    <form action="/APcirculo">
        <input id="b5" type="submit" value="Área y Perímetro de un círculo" class="btn btn-primary">
    </form>
</div>
{% endblock %}